<!-- Checks to see if the user was sent back to this page becuase they -->
<!--   tried to add an underage employee to an event with alcohol -->
<!-- Gives them a message telling them who they tried to add who was underage-->
<% if @of_age == false
  params["event"]["employee_id"].each do |x|
    employee = Employee.find(x)
    if employee.can_serve_booze? == false %>
      <p class="center">
        <%= employee.name %> is underage and is not allowed to work at an event  which serves alcohol.
      </p>
    <% end %>
  <% end %>
<% end %>

<form action="/add_event_confirm">
  <ul class="center">
    <li class="center">
      Name of Event - <input type="text" name="event[name]" placeholder="name of event" <% if params["event"] %> value="<%= params["event"]["name"] %>" <% end %>>
    </li>
    <li class="center">
      Date (MM-DD) - <input type="text" name="event[date]" placeholder="MM-DD" <% if params["event"] %> value="<%= params["event"]["date"] %>" <% end %>>
    </li>
    <li class="center">
      Length of event - <input type="number" step="0.25" name="event[hours]" placeholder="hours" <% if params["event"] %> value="<%= params["event"]["hours"] %>" <% end %>>
    </li>
    <li class="center">
      Hourly Wage - <input type"number" step="0.05" name="event[hourly_wage]" placeholder="$ per hour" <% if params["event"] %>value="<%= params["event"]["hourly_wage"] %>"<% end %>>
    </li>
    <li class="center">
      Total Gratuity - <input type="number" name="event[gratuity]" placeholder="gratuity" <% if params["event"] %> value="<%= params["event"]["gratuity"] %>" <% end %>>
    </li>
    <li class="center">
      Was alcohol served? 
        <input type="radio" name="event[alcohol]" value="yes" <% if params["event"] %> <% if params["event"]["alcohol"] == "yes" %> checked <% end %> <% end %> >Yes
        <input type="radio" name="event[alcohol]" value="no" <% if params["event"] %> <% if params["event"]["alcohol"] == "no" %> checked <% end %> <% end %> >No
    </li>
  </ul>
  
  <table id="employees">
    <tr>
      <th>
        Name
      </th>
      <th>
        Manager?
      </th>
    </tr>
    <% Employee.all.each do |x| %>
      <tr>
        <td>
          <!-- Each employee generates a row with a checkbox for if they -->
          <!-- and a radio button to signify one manager for the event -->
          <input type="checkbox" name="event[employee_id][]" value="<%= x.id %>" <% if params["event"] %> <% if params["event"]["employee_id"].include?(x.id.to_s) %> checked <% end %> <% end %> >
            <%= x.name %>
        </td>
        <td>
            <input type="radio" name="event[manager]" value="<%= x.id %>" <% if params["event"] %> <% if params["event"]["manager"] == x.id.to_s %> checked <% end %> <% end %> >
        </td>
      </tr>
    <% end %>
  </table>
  <p class="center">
    <input type="submit">
  </p>
</form>
      