<!-- Makes 'event' the specific event we are working with -->
<% event = Event.find(params["event"]["id"])

employees_worked = []

# gets employees who were designated as working this event previously
DB.execute("SELECT employee_id FROM distributions WHERE event_id = #{event.id};").each do |x|
  employees_worked << x["employee_id"]
end

# Gets the id of the employee who managed this event
manager_id = DB.execute("SELECT employee_id FROM distributions WHERE manager = 'yes' and event_id = #{event.id};")[0]["employee_id"]

%>
<h1>
  Modify this event and click submit
</h1>

<!-- Populates the form with the event info previously provided -->
<form action="modify_event_confirm">
  <ul>
    <input type="hidden" name="event[id]" value="<%= event.id %>">
    <li> 
      Name - <input type="text" name="event[name]" value="<%= event.name %>">
    </li>
    <li>
      Date - <input type="text" name="event[date]" value="<%= event.date %>">
    </li>
    <li>
      Hours - <input type="number" step="0.25" name="event[hours]" value="<%= event.hours %>">
    </li>
    <li>
      Hourly Wage - <input type="number" step="0.05" name="event[hourly_wage]" value="<%= event.hourly_wage %>">
    </li>
    <li>
      Gratuity - <input type="number" name="event[gratuity]" value="<%= event.gratuity %>">
    </li>
    <li>
      Was alcohol served? - 
        <input type="radio" name="event[alcohol]" value="yes" 
          <% if event.alcohol == "yes" %> 
            checked 
          <% end %> 
          >
        Yes
        <input type="radio" name="event[alcohol]" value="no" 
          <% if event.alcohol != "yes" %> 
            checked 
          <% end %>
          >
        No
      </li>
  </ul>
  <br>
  <br>
  <table>
    <tr>
      <td>
        Name
      </td>
      <td>
        Manager?
      </td>
    </tr>
    <% Employee.all.each do |x| %>
      <tr>
        <td>
          <!-- If the event serves alcohol this checks to make sure which -->
          <!--   employees can work it -->
          <!-- Also pre-checks the employees who were designated previously -->
          <% if event.alcohol == "yes" %>
            <% if x.can_serve_booze? %>
              <input type="checkbox" name="event[employee_id][]" value="<%= x.id %>" <% if employees_worked.include?(x.id) %> checked <% end %>>
              <%= x.name %>
            </td>
            <td>
              <input type="radio" name="event[manager]" value="<%= x.id %>" <% if manager_id == x.id %> checked <% end %>>
            <!-- Instead of the normal employee selection row this notifies -->
            <!--   the user that this employee can't serve alcohol -->
            <% else %>
              <%= x.name %> is not old enough to work at this event
            <% end %>
          <% else %>
            <input type="checkbox" name="event[employee_id][]" value="<%= x.id %>" <% if employees_worked.include?(x.id) %> checked <% end %>>
              <%= x.name %>
            </td>
            <td>
              <input type="radio" name="event[manager]" value="<%= x.id %>" <% if manager_id == x.id %> checked <% end %>>
          <% end %>
        </td>
      </tr>
    <% end %>
  <input type="submit">  
</form>