<h1>
  Which employee would you like to delete?
</h1>

<form action="/delete_employee_confirm">
  <table id="select_employee">
    <% Employee.all.each do |employee| %>
      <tr>
        <td>
          <label for="<%= employee.id %>">
          <input type="radio" name="employee[id]" value="<%= employee.id%>" id="<%= employee.id %>"><%= employee.name%>
        </td>
        <td>
          <%= employee.age %>
        </td>
      </tr>
    <% end %>
  </table>
  <p class="center">
    <input type="submit">
  </p>
</form>