<h1>
  Which employee would you like to modify?
</h1>

<form action="modify_employee_form2">
  <table id="select_employee">
    <% Employee.all.each do |x| %>
      <tr>
        <td>
          <label for="<%= x.id %>">
          <input type="radio" id="<%= x.id %>" value="<%= x.id %>" name="employee[id]"><%= x.name %>
        </td>
        <td>
          <%= x.age %>
        </td>
      </tr>
    <% end %>
  </table>
  <br>
 <p class="center"> <input type="submit"> </p>
</form>