


<% 


%>

<table>
  <tr>
    <td>
      Employee
    </td>
    <td>
      Event
    </td>
    <td>
      Date
    </td>
    <td>
      Manager?
    </td>
  </tr>
  <% @events_in_month.each do |x| %>
    <tr>
      <td>
        <%= x["name"] %>
      </td>
      <td>
        <%= x["event_name"] %>
      </td>
      <td>
        <%= x["date"] %>
      </td>
      <td>
        <%= x["manager"] %>
      </td>
    </tr>
  <% end %>
</table>


<h3>
  Wages for the month
</h3>
<table>
  <tr>
    <td>
      Employee
    </td>
    <td>
      Non-manager Wages
    </td>
    <td>
      Manager wages
    </td>
    <td>
      Total Wages
    </td>
    <td>
      Hours Worked
    </td>
  </tr>
  <% Employee.all.each do |x| %>
    <tr>
      <td>
        <%= x.name %>
      </td>
      <td>
        <%= sprintf('%.2f', x.get_base_wages_for_month(@month)) %>
      </td>
      <td>
        <%= sprintf('%.2f', x.get_manager_wages_for_month(@month)) %>
      </td>
      <td>
        <%= sprintf('%.2f', x.get_total_wages_for_month(@month)) %>
      </td>
      <td>
        <%= x.get_hours_for_month(@month) %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<br>
<a href="/home">
  Return to main menu
</a>
<br>
<a href="/see_all_distributions_and_wages">
  Go back to all distributions and wages
</a>
