<h1>
  Select the employees who worked this event
</h1>
<h3>
  <ul>
    <% event = Event.find(params["event_id"]) %>
    <li>
      <%= event.name %> - <%= event.date %>
    </li>
    <li>
      Hours worked - <%= event.hours %>
    </li>
    <li>
      Hourly Wage - <%= event.hourly_wage %>
    </li>
    <li>
      Gratuity - <%= event.gratuity %>
    </li>
    <li>
      <% if event.alcohol == "yes" %>
        Alcohol was served
      <% else %>
        Alcohol was not served
      <% end %>
    </li>
  </ul>
</h3>
<br>
<form action="/distribute_employees_to_event_confirm">
  <input type="hidden" name="event_id" value="<%= event.id %>">
  <table>
    <tr>
      <td>
        Name
      </td>
      <td>
        Manager?
      </td>
    </tr>
    <% Employee.all.each do |x| %>
    <tr>
      <td>
        <% if event.alcohol == "yes" %>
          <% if x.can_serve_booze? %>
            <input type="checkbox" name="employee_id[]" value="<%= x.id %>">
            <%= x.name %>
          </td>
          <td>
            <input type="radio" name="manager" value="<%= x.id %>">
          <% else %>
            <%= x.name %> is not old enough to work at this event
          <% end %>
        <% else %>
          <input type="checkbox" name="employee_id[]" value="<%= x.id %>">
            <%= x.name %>
          </td>
          <td>
            <input type="radio" name="manager" value="<%= x.id %>">
        <% end %>
      </td>
    </tr>
  <% end %>
  
  <br><br>
  <input type="submit">
</form>