<h1>
  All Distributions
</h1>


<% join = DB.execute("SELECT employees.name, events.name AS event_name, events.date, distributions.manager FROM distributions INNER JOIN employees ON distributions.employee_id = employees.id INNER JOIN events ON distributions.event_id = events.id") %>
<table>
  <tr>
    <td>
      Employee
    </td>
    <td>
      Event
    </td>
    <td>
      Date
    </td>
    <td>
      Manager?
    </td>
  </tr>
  <% join.each do |x| %>
    <tr>
      <td>
        <%= x["name"] %>
      </td>
      <td>
        <%= x["event_name"] %>
      </td>
      <td>
        <%= x["date"] %>
      </td>
      <td>
        <%= x["manager"] %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<br>
<h3>
  All Employee Earnings
</h3>
<table>
  <tr>
    <td>
      Name
    </td>
    <td>
      Manager Wages
    </td>
    <td>
      Non-Manager Wages
    </td>
    <td>
      Total Earnings
    </td>
  </tr>
  <% Employee.all.each do |x| %>
    <tr>
      <td>
        <%= x.name %>
      </td>
      <td>
        <%= x.get_manager_wages %>
      </td>
      <td>
        <%= x.get_base_wages %>
      </td>
      <td>
        <%= x.get_total_wages %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<a href="/distributions_and_wages_for_specific_month_form1"> 
  See distributions and wages for a specific month
</a> 
<a href="/home"> 
  Return to the main menu 
</a>