<h3>
  <% if @employee_added %>
    A new employee, <%= @employee_added.name %>, has been added
  <% end %>
  
  <% if @employee_deleted %>
    An employee, <%= @employee_deleted.name %>, has been deleted
  <% end %>
  
  <% if @employee_modified %>
    An employee, <%= @employee_modified.name %>, has been modified
  <% end %>
  
  <% if @event_added %>
    An event, <%= @event_added.name %>, has been added
  <% end %>
  
  <% if @event_deleted %>
    An event, <%= @event_deleted.name %>, has been deleted
  <% end %>
  
  <% if @event_modified %>
    An event, <%= @event_modified.name %>, has been modified
  <% end %>
</h3>

<h1>
  What would you like to do?
</h1>

<a href="/see_all_employees">
  See all employees
</a>
<br>

<a href="/add_employee_form">
  Add a new employee
</a>
<br>

<a href="/delete_employee_form">
  Delete an employee
</a>
<br>

<a href="/modify_employee_form1">
  Modify an employee
</a>
<br>

<a href="/see_all_events">
  See all events
</a>
<br>

<a href="/add_event">
  Add an event
</a>
<br>

<a href="/delete_event_form">
  Delete an event
</a>
<br>

<a href="/modify_event_form1">
  Modify an event
</a>
<br>

<a href="/see_all_distributions_and_wages">
  See all distributions and wages
</a>
<br>