<header>
    <h3 class="confirm">
    <% if @employee_added %>
  <p>A new employee, <%= @employee_added.name %>, has been added</p>
    <% end %>
    
    <% if @employee_deleted %>
  <p>An employee, <%= @employee_deleted.name %>, has been deleted</p>
    <% end %>
    
    <% if @employee_modified %>
  <p>An employee, <%= @employee_modified.name %>, has been modified</p>
    <% end %>
    
    <% if @event_added %>
  <p>An event, <%= @event_added.name %>, has been added</p>
    <% end %>
    
    <% if @event_deleted %>
  <p>An event, <%= @event_deleted.name %>, has been deleted</p>
    <% end %>
    
    <% if @event_modified %>
  <p>An event, <%= @event_modified.name %>, has been modified</p>
    <% end %>
  </h3>
  
  <h1>
    What would you like to do?
  </h1>
</header>